@import 'mixin';

nav{
   background: #2260BF;
   .wrapper{
    @include d-flex(row,space-between,center);
   }
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 10px;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 20px;
                &:hover{
                    color:#70c9ff;
                }
            }
        }
    }
   .nav__right{
        font-size: 24px;
        color: #fff;
        display: flex;
        flex-direction: row;
            div{
                margin-left: 13px;
            }
    }
}