@import 'mixin';
@import 'header';
@import 'navbar';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
$h1-color : #102c57;

.wrapper{
    max-width: 1248px;
    margin: 0 auto;
    
}

.hottopic{
    .wrapper{
        @include d-flex(row,space-between,center);
       }
    color:#000;
    border-bottom: solid 1px rgba(34,96,191,.14);
    font-size: 12px;
    padding:10px;
    
    &__left{
        a{
            text-decoration: none;
            padding:10px 15px;
            color:#000;
        }
        span{
            img{
                width: 29px;
                height: 29px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                vertical-align:middle;
            }
        }
    }
    &__right{
        position: relative;
        input{
            border-radius: 10px;
            border:0;
            max-width:100%;
            padding:10px;
            background: #EEF3FA;
            font-size:15px;
            
        }
        .fa-search{
            font-size: 18px;
            position: absolute;
            top: 20%;
            left: 85%;
            color: #70c9ff;
        }
    }
}
.ads{
    padding:24px 0 0 0;
    .wrapper{
        padding-bottom: 24px;
        border-bottom: 1px solid black;
        img{
            margin:0 auto;
        }
    }
}
.main-news{
    text-align: center;
    .wrapper{
        border-bottom: 1px solid black;
    }
    a{
        text-decoration: none;
        color: $h1-color;
        padding:10px;
        &:hover{
            color:#70c9ff;
        }
    }
    &-img{
        padding:0 10px 10px 10px;
    }
    .title-info{
        padding:10px;
        display: inline-block;
        i{
            padding:10px;
            font-size: 30px;
            
        }
        span{
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .news-info{
        padding:10px;
        text-align: center;
        h4{
            font-size: 20px;
            line-height: 35px;
        }
    }
}
.ui-tabs .ui-tabs-nav {
    background: none;
}
#tabs{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    ul{
        list-style: none;
        .activethis{
            background:#70c9ff;
        }
        li{
            display: inline;
            border: 1px solid black;
            text-align: center;
            padding:10px;
            background: $h1-color;
            
            a{
                text-decoration: none;
                display: inline-block;
                color: white;
                padding:20px 30px;
                
                
            }
            &:hover{
                background:#70c9ff ;
            }
        }
    }
}
.sub-news{

    padding:40px;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}
.tabs-news{
    @include d-flex(row,space-evenly,center);
    flex-basis: 50%;
    padding-top: 20px;
    img{
        width: 100px;
        height: 100px;
    }
}